/* Settings (collection of variables that do not generate CSS, but are applied to classes)
-----------------------------------------------------------*/
:root {
    /* colors */
    --background-color: #FFFADE;
    --primary-color: #3c5aa6;
    --button-background: #ffcb05;
    --button-hover: #e0b409;
}

/* Generic
-----------------------------------------------------------*/
.hidden {
    display: none;
}

/* Element style
-----------------------------------------------------------*/
body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: 'Albert Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}
h1 {
    font-family: 'Miltonian';
    font-size: 28px;
    font-weight: 400;
}
h2 {   
    font-family: 'Miltonian Tattoo';
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
ul {
    /* Takes away default bullets */
    list-style-type: none;
}
/* Component style
-----------------------------------------------------------*/
.loading-message {
    padding-top: 50px;
}
.modal-content {
    background: var(--button-background);
    border: 2px solid;
    border-color: var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    /* To match real Pokemon card dimensions */
    height: 419px;
    margin: auto;
    padding: 15px;
    /* Disables browser pointer actions except pinch-zoom */
    touch-action: pinch-zoom; 
    width: 300px;
}
.modal-header {
    border: none;
}
.modal-img {
    margin-top: 15px;
    width: 50%;
}
.modal-text {
    bottom: 0;
    padding-bottom: 16px;
    position: absolute;
    text-align: left;
}
.pokemon-button {
    background-color: var(--button-background);
    border: 2px solid;
    border-color: var(--primary-color);
    border-radius: 3px;
    color: var(--primary-color);
    font-family: 'Miltonian Tattoo';
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin: 8px auto;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s transform ease-in-out, 
    0.2s background-color ease-in-out;
    width: 250px;
}.pokemon-button:hover,
.pokemon-button:focus {
    background-color: var(--button-hover);
    cursor: pointer;
    transform: scale(1.075);
}

/* Animations
-----------------------------------------------------------*/
@keyframes jump {
    0% {
        bottom: 0px;
    }
    20% {
        bottom: 5px;
    }
    40% {
        bottom: 0px;
    }
}
.jumping-dots {
    animation: jump 2s infinite;
    bottom: 0px;
    position: relative;
}
.dot-1{
    animation-delay: 200ms;
}
.dot-2{
    animation-delay: 400ms;
}
.dot-3{
    animation-delay: 600ms;
}